
.customCard{
height: 100%;
max-width: 350px;
box-shadow: 0px 0px 48px 0px rgba(4,6,4,0.08);
border-radius: 5px;
overflow: hidden;
outline-width: 0px !important;
}
.customCard .customCard_image{
    height: 140px;
    width: 230px;
}


.projectDetail .projectDetail_image{
max-height: 300px;
width: 100%;
object-fit: cover;
object-position: center center;
}
.customCard .deleteIcon{
    margin-left: 180px;
    width: 25px;
    height: 25px;

}
.projectDetail .closeIcon{
    width: 30px;
    height: 30px;
    margin-left: 550px;
    margin-top: 10px;
}